/* ======================== Global ======================== */

/* ======================== maingrid ======================== */
.main-grid {
    display: flex;
    flex-direction: row;
}

.grid-left{
    padding-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.grid-item{
    width: 60%;
    height: 70px;
}

.grid-right{
    color: #ccc;
    width: 100%;
    padding-top: 4%;
}

.grid-right{
    font-size: larger;
}

/* ======================== kfzaufbereitung ======================== */
.kfzaufbereitung-container {
    height: 100vh;
}

.keine-kfzaufbereitung{
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 15%; 
}

.table-container {
    background-color: #131111;
    max-height: 80vh;
    overflow-y: auto;
    margin: auto;
    padding: 0 40px;
    border-radius: 8px;
}

table {
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
}

th,td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th{
    color: #017cbc;
    font-size: 3vh;
}

td {
    color: #fff;
}

/* ======================== KfzAufbereitungverwalten ======================== */
.kfz-aufbereitung-preis {
    width: 60%; 
    padding: 4px;
    font-size: 16px;
    color: #017cbc;
    background-color: #131111;
}

.euro-zeichen{
    font-size: 22px;
    margin-left: 5px;
    color: #017cbc;
}

.btn-preis-aktualisieren{
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #017cbc;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}
  
/* ======================== Scheibentoenung ======================== */
.scheibentoenung-container{
    background-color: #131111;
    height: 100vh;
    display: flex;
}

.scheibentoenung-container .imag{
    width: 45%;
    height: 70%;
    margin-top: 5%;
    margin-left: 5%;
}

.scheibentoenung-container .imag img {
    max-width: 85%;
    height: auto;
}

.scheibentoenung-container .txt{
    color: #fff;
    width: 45%;
    height: 70%;
    margin-top: 5%;
    margin-right: 5%;
}

/* ======================== Autoglasservice ======================== */
.autoglasservice-container{
    background-color: #131111;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.autoglasservice-container .imag{
    display: flex;
    align-items: center;
    gap: 7%;
}

.autoglasservice-container .imag img {
    max-width: 60%;
    height: auto;
}
 
.autoglasservice-container .txt{
    color: #fff;
    width: 55%;
    height: 70%;
    margin-top: 5%;
}

/* ======================== Klimaservice ======================== */
.klimaservice-container{
    background-color: #131111;
    height: 100vh;
    display: flex;
}

.klimaservice-container .imag{
    width: 45%;
    height: 70%;
    margin-top: 5%;
    margin-left: 5%;
}

.klimaservice-container .imag img {
    max-width: 85%;
    height: auto;
}

.klimaservice-container .txt{
    color: #fff;
    width: 45%;
    height: 70%;
    margin-top: 5%;
    margin-right: 5%;
}