/* ======================== dienstleistungen ======================== */
.main-grid {
    background-color: #131111;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding: 20px;
}

.grid-item {
    width: 30%;
    height: 10%;
    margin-left: 10%;
    margin-top: 4%;
    background-color: red;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-grid .grid-item a {
    color: white;
    text-decoration: none;
    font-size: 2vw;
}

/* ======================== fahrzeug ======================== */
.fahrzeug-container {
    background-color: #131111;
    height: 100%;
}

.fahrzeug-table{
    background-color: #131111;
    height: 100vh;
    margin-left: 5%;
}

td:first-child {
    width: 25%;
}

.fahrzeug-bild {
    border: none;
}

.fahrzeug-details {
    border: none;
}

.fahrzeug-details h1{
    text-align: left;
}

.fahrzeug-bild img {
    width: 70%;
    height: auto;
}

.slider {
    transform: translateY(-120%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 35px;
    color: #fff;
}

/* ======================== kontakt ======================== */
.kontakt-container{
    background-color: #131111;
    height: 100%;
}

.kontakt-container h1 {
    background-color: #131111;
    color: white;
}

.adresse{
    color: white;
    padding-top: 3%;
    padding-left: 10%;
}

.kontakt-firma{
    color: white;
    padding-top: 1%;
    margin-left: 10%;
    width: 40%;
}

.kontakt-firma-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.kontakt-firma-form label {
    margin-bottom: 5px;
    font-weight: bold;
}
  
.kontakt-firma-form input,
.kontakt-firma-form textarea {
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 60vh;
}
  
#agb{
    width: 2vh;
}

textarea {
    resize: vertical;
}
  
.absenden-button {
    padding: 10px 15px;
    align-self: center;
    width: 18vh;
    background-color: #017cbc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transform: translateX(-70%);
}
  
/* ======================== einloggen ======================== */
.einloggen-container{
    background-color: #131111;
    height: 100vh;
}

.login-form{
    height: 100%;
}

.login-form h1{
    padding-top: 7%;
    text-align: center;
    color: #fff;
}

.login-form form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  align-items: center; 
}

.login-form form label {
    font-weight: bold;
}

.login-form form input {
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 40vh;
}

.anmelden-button {
    margin-top: 20px;
    padding: 10px 15px;
    width: 16vh;
    background-color: #017cbc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}