/* ======================== dienstleistungen ======================== */
.main-grid {
    background-color: #131111;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding: 20px;
}

.grid-item {
    width: 30%;
    height: 10%;
    margin-left: 10%;
    margin-top: 4%;
    background-color: red;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-grid .grid-item a {
    color: white;
    text-decoration: none;
    font-size: 2vw;
}

/* ======================== fahrzeug ======================== */
.fahrzeug-container {
    background-color: #131111;
    height: 100%;
}

.fahrzeug-table{
    margin-left: 5%;
}

td:first-child {
    width: 25%;
}

.fahrzeug-bild {
    border: none;
}

.fahrzeug-details {
    border: none;
}

.fahrzeug-bild img {
    width: 70%;
    height: auto;
}

.slider {
    transform: translateY(-120%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 35px;
    color: #fff;
}

