/* ======================== fahrzeug ======================== */
.fahrzeug-container {
    background-color: #131111;
    color: #fff;
}

.keine-autos {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 15%;
}

.fahrzeug-liste {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 100px;
}

.fahrzeug-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    border-bottom: 1px solid #333;
}

.fahrzeug-bild {
    position: relative;
    text-align: center;
}

.fahrzeug-bild img {
    max-width: 70%;
    height: auto;
    text-align: center;
}

.slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 35px;
    color: #fff;
    z-index: 10;
}

.slider.links {
    left: 10px;
}

.slider.rechts {
    right: 10px;
}

.fahrzeug-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fahrzeug-details h1 {
    font-size: 1.5em;
    margin: 0;
}

.fahrzeug-details p {
    margin: 0;
    text-align: left;
}

.b-k-t,
.l-p {
    display: flex;
    gap: 10px;
}

.fahrzeug-delete-button {
    background-color: #017cbc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    align-self: flex-start;
}

.fahrzeug-item:last-child {
    margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
    .fahrzeug-item {
        grid-template-columns: 1fr;
    }

    .fahrzeug-details {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/* ======================== kontakt ======================== */
.kontakt-container {
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.kontakt-content {
    display: flex;
    justify-content: center;
    gap: 20%;
}

.kontakt-firma {
    padding: 30px 0 50px 30px;
}

.kontakt-firma-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.kontakt-firma-form input,
.kontakt-firma-form textarea {
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 40vh;
}

textarea {
    resize: vertical;
}

.absenden-button {
    padding: 10px 15px;
    width: 18vh;
    background-color: #017cbc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.adresse {
    color: white;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adresse a {
    color: white;
    text-decoration: none;
}

.imp-daten {
    display: flex;
    justify-content: center;
    gap: 8%;
    font-size: 1.5rem;
}

.imp-daten a{
    color: white;
    text-decoration: none;
}

.alert {
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    width: 50%;
    margin-left: 10%;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

@media screen and (max-width: 768px) {
    .kontakt-content {
        display: flex;
        flex-direction: column;
    }

    .imp-daten {
        display: flex;
        font-size: 1.5rem;
        padding: 40px 0;
    }
}

/* ======================== einloggen ======================== */
.einloggen-container {
    background-color: #131111;
}

.login-form h1 {
    padding-top: 7%;
    text-align: center;
    color: #fff;
}

.login-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.login-form form label {
    font-weight: bold;
}

.login-form form input {
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 40vh;
}

.anmelden-button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #017cbc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

/* ======================== Impressum ======================== */
.impressum-container {
    height: 100vh;
    background: #131111;
    color: #fff;
    overflow-y: auto;
}

.impressum-content {
    font-size: larger;
    padding-left: 30px;
    margin-bottom: 10%;
}

.impressum-content p {
    font-size: larger;
}

.impressum-content a {
    text-decoration: none;
    color: #fff;
}

/* ======================== Haftungsasusschluss ======================== */
.haftungsausschluss-container {
    height: 100vh;
    background: #131111;
    color: #fff;
    overflow-y: auto;
}

.haftungsausschluss-content {
    color: #fff;
    padding: 10px 30px;
    margin-bottom: 10%;
}

.haftungsausschluss-content p {
    font-size: larger;
}