html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;
}

.navbar-content {
    height: 10vh;
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.main-content {
    flex: 1;
    background-color: #131111;
    overflow-y: auto;
    padding-top: 10vh;
}